body {
    background: linear-gradient(-45deg, rgba(255, 106, 0, 0.629), rgb(12, 53, 186), #009ff0, rgba(173, 0, 255, 0), rgba(173, 0, 255, 0.65), rgba(36, 0, 255, 0.65), rgba(91, 0, 123, 0.835938), #2D2D2D, #000B44);
    background-size: 1000% 1000%;
    width: 100%;
    height: 100vh;
    animation: bg 25s ease infinite;
}


.logo {
    position: relative;
    height: 10px;
}


.container {
    width: 100%;
    justify-content: center;
    height: 0px;
}

.container .box {
    /* position: fixed;  */
    justify-content: center;

    width: 642px;
    height: 81px;
    left: 319px;
    top: 31px;
    margin: 2% auto;



    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2), inset 0px 1px 4px rgba(255, 255, 255, 0.8), inset 0px 20px 40px rgba(255, 255, 255, 0.25), inset 0px -4px 4px rgba(255, 255, 255, 0.25), inset 0px -40px 40px rgba(0, 0, 0, 0.2), inset 0px 4px 12px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 49px;

}

.container .box .a2 {

    position: absolute;
    left: 28.61%;
    right: 80.06%;
    top: 27.16%;
    bottom: 28.4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.container .box .a3 {

    position: absolute;
    left: 54.61%;
    right: 80.06%;
    top: 27.16%;
    bottom: 28.4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.container .box .a4 {

    position: absolute;
    left: 75.61%;
    right: 80.06%;
    top: 27.16%;
    bottom: 28.4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.container .box .a1 {


    position: absolute;
    left: 8.61%;
    right: 80.06%;
    top: 27.16%;
    bottom: 28.4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

#footer {
    margin: 3% auto;
    display: block;
    /* width: 1000px;  */
    /* height: 1000px; */
}

.getintouch {
    max-width: 800px;
    margin: 200px auto;
    position: relative;
    height: fit-content;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2), inset 0px 1px 4px rgba(255, 255, 255, 0.8), inset 0px 20px 40px rgba(255, 255, 255, 0.25), inset 0px -4px 4px rgba(255, 255, 255, 0.25), inset 0px -40px 40px rgba(0, 0, 0, 0.2), inset 0px 4px 12px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 49px;
    padding: 30px;
}

.getintouch h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 2px black;
    text-align: center;
    color: aliceblue;
    font-size: 100px;
}

/* .box h1 {
    text-align: center;
    font-size: 5rem;
    padding: 0%;
} */


/* .conimg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    position: absolute;
} */

.contactform .form-field {
    position: relative;
    margin: 32px 0;
}

.contactform .inputtext {
    display: block;
    width: 100%;
    height: 40px;

    border-width: 0 0 2px 0;

    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: #000b4400;
    margin-top: 60px;

}

.contactform .inputtext:focus+.label,
.contactform .inputtext.not-empty+.label {
    transform: translateY(-24px);
}

.contactform .inputtext:focus {
    outline: none;

}

.contactform .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.2s ease-in-out;

}


.box-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}




@keyframes bg {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.iconz:hover ,.iconz:focus {
   
    fill: rgb(255, 234, 0);
}


.submitbtn {
    background: linear-gradient(90deg, #777777 0%, #5E5B5B 25%, #4A4949 67.71%, #656363 89.06%, #504D4D 100%);
    border-radius: 40px;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    margin-left: 42%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
::placeholder{
    color: black;
}
.submitbtn:hover{
    background-color: #2D2D2D;
    color: white;
}