* {
    background-color: rgba(0, 0, 0, 0);
}

body {
    background-color: rgb(0, 0, 0);
}

.logo {
    position: relative;
    height: 10px;
}

.container {
    width: 100%;
    justify-content: center;
    height: 0px;
}

.container .box {
    /* position: fixed;  */
    justify-content: center;

    width: 642px;
    height: 81px;
    left: 319px;
    top: 31px;
    margin: 2% auto;



    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2), inset 0px 1px 4px rgba(255, 255, 255, 0.8), inset 0px 20px 40px rgba(255, 255, 255, 0.25), inset 0px -4px 4px rgba(255, 255, 255, 0.25), inset 0px -40px 40px rgba(0, 0, 0, 0.2), inset 0px 4px 12px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 49px;

}

.container .box .a2 {

    position: absolute;
    left: 28.61%;
    right: 80.06%;
    top: 27.16%;
    bottom: 28.4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.container .box .a3 {

    position: absolute;
    left: 54.61%;
    right: 80.06%;
    top: 27.16%;
    bottom: 28.4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.container .box .a4 {

    position: absolute;
    left: 75.61%;
    right: 80.06%;
    top: 27.16%;
    bottom: 28.4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

.container .box .a1 {


    position: absolute;
    left: 8.61%;
    right: 80.06%;
    top: 27.16%;
    bottom: 28.4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;
}

#grid {
    margin: 3% auto;
    display: block;

}

.icons {
    position: absolute;


}

.insta:hover,
.insta:focus {
    /* fill: linear-gradient(234deg, red , blue); */
    fill: rgb(255, 45, 80);
}

.whats:hover,
.whats:focus {
    /* fill: linear-gradient(234deg, red , blue); */
    fill: rgb(68, 255, 0);
}

.linked:hover,
.linked:focus {
    /* fill: linear-gradient(234deg, red , blue); */
    fill: rgb(8, 0, 255);
}

.iconz:hover,
.iconz:focus {
    /* fill: linear-gradient(234deg, red , blue); */
    fill: rgb(255, 234, 0);
}


#footer {
    margin: 3% auto;
    display: block;
    /* width: 1000px;  */
    /* height: 1000px; */
}

.bann {
    color: #FFFFFF;
    position: absolute;
    top: 130%;
    bottom: 50%;
    left: 65%;
}


.bann h2 span {
    color: red;
}

.hometext {
    position: relative;
    /* height: 10px;
    width: 10px; */
    background-color: #ff0000;
    top: 538px;
    left: 658px;
    display: inline-block;
    background-color: #7fff0800;
}




.hometext p span {
    z-index: 1;
    font-size: 50px;
    color: #ff0000;
    display: inline-block;
    top: 10%;
    left: 10%;
    margin: 0, auto;
    display: none;
}

.hometext p span.text-in {
    display: block;

    background-color: #ff000000;
    animation: textIn .5s ease;
}

.hometext p span.text-out {
    background-color: #ffffff00;

    animation: textIn .5s ease;
}

@keyframes textIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes textOut {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}


@media screen and (max-width: 1024px) {

    .hometext {
        position: relative;
        top: 540px;
        left: 661px;
        display: inline-block;
        background-color: #7fff0800;

    }
}


@media screen and (min-width: 1215px) {

    .hometext {
        width: 39%;
        height: 81px;
        left: 54%;
        /* top: 10%; */
        margin: auto;
        background-color: #00000000;

    }

}

.scroll {
    margin: auto;
    fill-opacity: 1;
    background: linear-gradient(179.7deg, rgba(0, 0, 0, 0.2) 0.26%, rgba(0, 0, 0, 0.2) 99.74%), linear-gradient(270deg, rgba(154, 154, 154, 0) 0%, #757575 53.09%, rgba(217, 217, 217, 0) 100%);
    stroke-width: 10px;
    width: 86%;
}


#skills {
    color: #FFFFFF;
    /* border: 2px solid red; */
    height: 10%;
    width: 20%;
    text-decoration: underline overline;
    margin: 80px auto;
    font-size: 2rem;
    text-align: center;
}

/* @media screen and (max-width: 1235px){
.hometext {
    position: relative;
    display: inline-block;
    top: -882px;
    bottom: 10%;
    left: 983px;
    padding: 10px 10px;
    width: 472px;
    height: 10px;
    background-color: #7fff08;
}
} */

#skill {
    display: flex;
    justify-content: center;
}
